In [138]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

## Raw code of simple linear regression

In [139]:
#raw simple linear regression code via ols
def fit(X_train, y_train):
    num = 0 #numerator
    den = 0 #denominator
    x_mean = X_train.mean()
    y_mean = y_train.mean()

    for i in range(len(X_train)):
        num += (X_train[i] - x_mean) * (y_train[i] - y_mean)
        den += (X_train[i] - x_mean) ** 2

    m = num / den
    b = y_mean - (m * x_mean)
    return m, b

def predict(X_test):
    m,b=fit(X_train,y_train)
    return m * X_test + b

In [140]:
df = pd.read_csv('canada_per_capita_income.csv')

In [141]:
df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [142]:
X = df['year'].values
y = df['per capita income (US$)'].values

In [153]:
X

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016], dtype=int64)

In [143]:
y

array([ 3399.299037,  3768.297935,  4251.175484,  4804.463248,
        5576.514583,  5998.144346,  7062.131392,  7100.12617 ,
        7247.967035,  7602.912681,  8355.96812 ,  9434.390652,
        9619.438377, 10416.53659 , 10790.32872 , 11018.95585 ,
       11482.89153 , 12974.80662 , 15080.28345 , 16426.72548 ,
       16838.6732  , 17266.09769 , 16412.08309 , 15875.58673 ,
       15755.82027 , 16369.31725 , 16699.82668 , 17310.75775 ,
       16622.67187 , 17581.02414 , 18987.38241 , 18601.39724 ,
       19232.17556 , 22739.42628 , 25719.14715 , 29198.05569 ,
       32738.2629  , 36144.48122 , 37446.48609 , 32755.17682 ,
       38420.52289 , 42334.71121 , 42665.25597 , 42676.46837 ,
       41039.8936  , 35175.18898 , 34229.19363 ])

In [144]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [145]:
m,b=fit(X_train,y_train)

In [146]:
print(f"m = {m} and b = {b}")

m = 796.936819883258 and b = -1569692.1747126176

In [147]:
print(predict(1993))

18602.90731471544